<div class="header">
	<a class="logo" href="/">
		<img src="/assets/logo.png" alt="logo">
		<p class="text-md">Экспертная оценка</p>
	</a>

	<nav class="links-pages">
		<ol>
			<li><a class="link" href="/">Главная</a></li>
			<li><a class="link" href="/about">О нас</a></li>
		</ol>
	</nav>

	<div class="group-button">
		<div class="languages">
			<a class="link" href="#">
				<i class="fa fa-language" aria-hidden="true"></i>
				<span>Ru|En</span>
			</a>
		</div>

		<div class="auth">
			<a class="link" href="/auth/login">Войти</a>
			<a class="link" href="/auth/registr">Зарегистрироваться</a>
		</div>
	</div>
</div>